.element {
    margin: 100px auto;
    max-width: 1000px;
}



.Omnie {
    color: rgba(238, 238, 242, 0.998);
}

.Dane {
    color: crimson;
}

.Doswiadczenie {
    color: rgb(230, 15, 179);
}

.Hobby {
    color: #0707a9;
    background-color: aquamarine;
}
body{
    background-color: azure;
}

